{% extends 'index.html' %}

{% block mytitle %}
    文章列表
{% endblock %}

{% block my-css %}
    {#    <link>#}
{% endblock %}

{% block my-body %}
    <div class="About-top">
            <div class="About-left ">

                <div class="Index-img">
                    <a href="/index/"> <img src="/static/Head-images.jpg" class="img-circle Head-img .img-responsive"></a>
                </div>
                <div class="Index-li">
                    <p class="Index-p Index-p-color">A Djangoer</p>
                    <p class="Index-p-color">虚心学习，乐于分享</p>
                </div>
                <div class="Index-li">
                    <p class="Index-p-color">
                        不求而得，往往求之不得</p>
                </div>
                <div class="Index-li">
                    <p class="Index-p-color"> <a style="text-decoration: none">leebor.cn </a>is my blog </p>
                    <p class="Index-p-color"> <a style="text-decoration: none">djangoers.com</a> is all Djangoer's home</p>
                </div>
                <div class="Index-li">
                    <a href="/Blog-page/" class="Index-button">博客</a>
                    <a href="/About-me/" class="Index-button ">关于</a>
                    <a href="/Subscription/" class="Index-button ">订阅</a>
                </div>
                <div class="Index-li">
                    <li><img class="Index-icon" src="/static/imgs/sina_vb.png">&nbsp;
                        <img class="Index-icon" src="/static/imgs/sina_vb.png">&nbsp;
                        <img class="Index-icon" src="/static/imgs/sina_vb.png">&nbsp;

                    </li>
                </div>
            </div>
        <div class="About-right">
            {% for k,v in dict.items %}
            <div class="Content" id="{{ k }}">
                <ul class="Blog-Article">
                    <li class="Blog-title">{{ v.title|safe }}</li>
                    <li class="Blog-content"> {{ v.Abs|safe }}</li>
                    <li class="Blog-about">{{ v.Pub_time|date:"Y-m-d H:i:s"|safe }}&nbsp;&nbsp;<a href="/Article/?id={{ k }}" class="Article-btn">继续阅读 </a></li>
                </ul>
            </div>
            <hr class="Blog-hr" align="center"/>
                        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block my-js %}
    <script>
    </script>
{% endblock %}